.fullpage-wrapper {
    // -webkit-overflow-scrolling: touch;
}

.section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;

    @media (max-width: 991px) { padding: 40px 0 }
    @media (max-width: 767px) { padding: 25px 0 !important }

    &-header {
        background-image: url(../images/header-bg.jpg);
        padding: 20px 0;

        @media (min-width: 1200px) {
//            background-position: calc(50% - 10px) 50%;
//            background-size: 105%;
        }

        @media (max-width: 991px) {
            padding: 8px 0 !important;
        }
    }

    &-discount {
        background-image: url(../images/2.jpg);

        @media (max-width: 767px) {
            background-image: url(../images/section-2-mob.jpg);
            background-size: 100% auto;
            background-position: top;
        }
    }

    &-3 {
        background-image: url(../images/3.jpg);
    }

    &-4 {
        background-image: url(../images/4.jpg);
    }
    &-5 {
        background-image: url(../images/section-5.jpg);

        @media (max-width: 991px) { background-position: left 62% center }

        @media (max-width: 767px) {
            background-position: top !important;
            background-size: 100% auto;
        }
    }
    &-6 {
        background-image: url(../images/section-6.jpg);
    }

    &-7 {
        background-image: url(../images/section-7.jpg);

        @media (max-width: 991px) {
            background-position: right -35px center;
        }

        @media (max-width: 575px) {
            background-image: url(../images/section-7-mob.jpg);
            background-position: left top !important;
            background-size: 320px 239px;
        }
    }

    &-8 {
        background-image: url(../images/section-8.jpg);

        @media (max-width: 991px) {
            background-image: url(../images/section-8-mob.jpg);
        }
    }
}

.logo {
    @media (max-width: 991px) { width: 244px }
    @media (max-width: 767px) { width: 180px !important }
}

.navigation {
    display: flex;
    justify-content: space-between;

    a {
        text-transform: uppercase;
        color: #fff;
        position: relative;

        @media (min-width: 992px) {
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: currentColor;
                transform: scale(0);
                opacity: 0;
                transition: all .3s ease-out;
            }

            &:hover:before {
                opacity: .6;
                transform: none;
            }
        }
    }

    @media (max-width: 991px) {
        display: block;
        position: absolute;
        z-index: 15;
        top: 100%;
        right: 0;
        min-width: 250px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 6px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.42),
                    0 10px 10px -8px rgba(0, 0, 0, 0.48);
        margin-top: 10px;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(.8) translateY(-15px);
        transform-origin: 100% 0;
        transition: all .3s cubic-bezier(.18,.89,.32,1.28);
        will-change: opacity, transform;

        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
            position: absolute;
            bottom: 100%;
            right: 12px;
        }

        a {
            display: block;
            color: #222;
            padding: 8px 15px;
            font-size: 14px;
        }
    }
}

.nav-trigger {
    padding: 10px;
    border: 0;
    background: transparent;
    appearance: none;
    display: none;

    @media (max-width: 991px) { display: block }

    span {
        display: block;
        width: 24px;
        height: 2px;
        border-radius: 5px;
        background-color: #fff;

        &:nth-child(2) {
            margin: 5px 0;
        }
    }

    &.is-active ~ .navigation {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        transform: none;
    }
}

.main-info {

    &-img {
        margin-top: 30px;

        @media (max-width: 991px) and (min-width: 768px) { transform: scale(1.3) }
    }

    &-txt {
        @include fluid-sizing('font-size', (576px: 16px, 768px: 16px, 992px: 26px));
        @include fluid-sizing('padding-top', (576px: 20px, 768px: 30px, 992px: 40px));

        font-weight: 300;

        b { font-weight: 600 }
    }
}

.items-wrapper {
    @include fluid-sizing('padding-top', (576px: 20px, 768px: 40px, 992px: 60px));
}

.item {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px;

    @media (min-width: 768px) { min-height: 100% }

    @media (max-width: 991px) and (min-width: 768px) {
        padding: 14px;
        margin: 0 -7px;
    }

    @media (max-width: 767px) {
        margin: 0 10px 20px;
    }

    &-img {
        position: relative;

        &:after {
            content: "";
            padding-top: (98 / 115) * 100%;
            display: block;
        }

        img {
            position: absolute;
            top: 0; right: 0;
            bottom: 0; left: 0;
            margin: auto;
            max-height: 100%;
        }
    }

    &-info {
        font-weight: 300;
        padding-top: 20px;

        @media (max-width: 991px) and (min-width: 768px) { font-size: 14px }

        b { display: block; font-weight: 600 }
    }
}

.shops {
    @include fluid-sizing('padding-top', (576px: 20px, 768px: 40px, 992px: 80px));
}

.shop-img {
    @media (max-width: 991px) { margin-bottom: 20px }
    img { @media (max-width: 767px) { max-width: 75% } }
}

$line-color: #266425;
$points-size: 18px;

.points {
    height: $points-size;
    position: absolute;
    width: calc(100% - 465px);

    @media (max-width: 1199px) {
        width: calc(100% - 421px);
    }

    @media (max-width: 991px) {
        width: calc(100% - 378px);
    }

    @media (max-width: 767px) { display: none }

    &-top {
        top: 0;
        right: 20.4%;
        background: linear-gradient($line-color, $line-color);
        background-size: calc(100% - 35px) 2px;
        background-repeat: no-repeat;
        background-position: center;

        &.large {
            width: calc(100% - 240px);
        }

        @media (max-width: 1199px) {
           right: 25.4%;
       }

       @media (max-width: 991px) {
           right: 33.1%;
       }
    }

    &-middle {
        width: $points-size !important;
        height: 100%;
        left: calc(100% - 256px);
        top: 0;

        &:after,
        &:before {
            content: "";
            width: 2px;
            $line-height: $points-size / 2;
            height: calc(47% - 24px);
            background-color: $line-color;
            position: absolute;
            left: 50%;
            margin-left: -1px;
        }

        &:before {
            top: $points-size;
        }

        &:after {
            bottom: 0;
            height: calc(50% + 6px);

            @media (max-width: 991px) {
                height: calc(51% + 4px);
            }
        }

        &.no-bottom-line:after {
            display: none;
        }
    }

}

.direction-right {

    .points-middle {
        left: 19.3%;
        right: auto;
    }

    .single-point--middle:after {
        right: auto;
        left: 100%;
    }
}


.single-point {
    width: $points-size;
    height: $points-size;
    display: block;
    border: 3px solid $line-color;
    background: 0 0;
    border-radius: 100%;
    position: absolute;

    &:first-of-type {
        left: 0;
    }

    &:last-of-type {
        right: 0;
    }

    &--middle {
        left: auto;
        right: auto;
        top: 47%;
        margin-top: -$points-size / 2;

        &:after {
            content: "";
            width: 150px;
            height: 2px;
            background-color: $line-color;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            right: 100%;
        }
    }
}
