* {
    margin: 0;
    padding: 0;

    outline: 0;
    box-sizing: inherit;

    &:before,
    &:after {
      box-sizing: inherit;
    }
}

html {
    -webkit-tap-highlight-color: transparent;

    .hide { display: none }
    .uppercase { text-transform: uppercase }
    .font-semi{
        // font-family: 'OpenSans-Semibold';
        font-weight: 600;
    }

    .bold { font-weight: 700 }

    .padding-none{
        padding-left: 0;
        padding-right: 0;
    }

    .block { display: block }

    .background-in-center-v {
        @media (min-width: 992px) { background-position-y: center!important }
    }

    li { list-style: none }

    .size14{
        font-size: 14px!important;
    }

    .underline{
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }

    p {
        padding-bottom: 15px;
    }

    .section {
        overflow: hidden;
    }
}

body, html {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba($color: #000, $alpha: 0.004);
    font: 16px $font-family;
    color: $color-txt;
    min-width: 320px;
}


body {
    -ms-overflow-style: scrollbar;
}

a { text-decoration: none }
img { max-width: 100% }
.text-white { color: #fff }

.flex {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.align-middle { align-items: center }
@media (max-width: 767px) {
    .center-xs {
        justify-content: center;
    }
}

.no-wrap { flex-wrap: nowrap }

.sm-reverse {
    @media (max-width: 991px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.last-sm {
    @media (max-width: 991px) {
        // order: 1;
    }
}

.ml-a { margin-left: auto; position: static }

.center-block {

    @media (min-width: 992px) {
        display: table;
        height: 100%;

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        > * {
            display: table-row;
            height: 100%;
        }

         .shrink { height: 1px }
    }
}

.middle {
    padding: 40px 0;

    @media (max-width: 767px) { padding: 20px 0 }
}

.header {
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;

    b{
        font-weight: 700;
    }

    &-wrapper { position: relative }
}
.text-center { text-align: center }

h1, .h1 {
    @include fluid-sizing('font-size', $h1-size);
    font-weight: 300;
    line-height: em(65px, 60px);

    b {
        font-weight: 700;
    }

}

h2, .h2 {
    @include fluid-sizing('font-size', $h2-size);
    font-weight: 300;
    line-height: em(36px, 30px);

    b {
        font-weight: 700;
    }
}

h3, .h3 {
    @include fluid-sizing('font-size', $h3-size);
    line-height: em(22px, 24px);
    font-weight: 600;
}


.main-models{
    padding-top: 40px;
 .character{
     padding-top: 8px;
     font-size: 14px;

     @media (min-width: 992px) {
         min-height: 320px;
         font-size: 16px;
     }

     @media (max-width: 767px) {
        background-color: #eae9e9;
        padding: 15px 25px 20px;
        margin: 0 -25px -25px;
        border-top: 5px solid #fff;
     }

     .title {
        padding-bottom: 23px;

         @media (max-width: 767px) {
             font-size: 16px;
             padding-top: 8px;
             padding-bottom: 15px;
         }
     }

     tr{
         td,th{
             vertical-align: top;
         }
         th {
             text-align: left;
             width: 110px;
         }
     }
     td {
         padding-bottom: 10px;
         a {
             font-size: 14px;
             text-decoration: underline;
             color: black;

             &:hover{
                 text-decoration: none;
             }
         }
     }
 }
}

.character-block-points{
    position: relative;
    .point-icon {
        display: block;
        position: absolute;
        font-size: 51px;
        width: 1em;
        height: 1em;
        cursor: pointer;

        &.be {
            left: 0;
            top: 105px;
        }

        &:hover {
            .character-block {
                display: block;
            }
        }
    }
}

.character-block{
    $border : #00a700;
    border: 1px solid $border;
    padding: 3px;
    width: 315px;
    background: white;
    left: 46px;
    position: relative;
    top: 22px;
    display: none;
    font-size: initial;

    div{
        border: 1px solid $border;
        padding: 18px;
        height: 100%;
        strong{
            display: block;
            font-size: 18px;
            padding-bottom: 10px;
            // font-family: 'OpenSans-Semibold';
        }
    }
}

.description-apc{
    .header{
        margin-bottom: 20px;
    }
    p,
    ul li{
        margin-bottom: 20px;

        @media (max-width: 767px) { padding-bottom: 0 }
    }

    ul li {
        list-style: none;
        font-weight: 600;
        background: url('../images/battery.svg') no-repeat;
        background-position: left 4px;
        background-size: 23px;
        padding-left: 36px;
    }
}


.utilization{

    .block {
        @media (min-width: 768px) and (max-width: 1199px) {
            display: inline;
            white-space: normal;
        }
    }
    .title {
        font-size: 18px;
        padding-bottom: 15px;

        @media (max-width: 575px) {
            font-size: 16px;
            padding-left: 5vw;
            padding-top: 5vw;
        }
    }
    .header{
        @include fluid-sizing('padding-bottom', (576px: 10px, 768px: 35px, 992px: 50px, 1200px: 90px));

        @media (min-width: 1200px) { white-space: nowrap }

        @media (max-width: 575px) {
            font-size: 18px;
            padding-left: 25%;
            font-size: 17px;
            line-height: 1.4;
        }
    }
    ul li{
        padding: 0 0 15px 60px;

        b{
             font-weight: 600;
        }
    }
    .ico-security {
        background: url('../images/ico-security.png');
        background-repeat: no-repeat;
        background-position: 8px 4px;

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }
    .ico-person {
        background: url('../images/ico-person.png');
        background-repeat: no-repeat;
        background-position: 8px 4px;

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }
}

.feature{
    .header{
        padding-bottom: 25px;

        @media (max-width: 767px) { padding-bottom: 0 }
    }
    .more{
        a{
            color: #266425;
            font-size: 18px;
            // font-family: 'OpenSans-Regular';
        }
    }
}

footer{
    width: 100%;
    background: white;
    line-height: 1;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;

    @media (max-width: 991px) { margin-bottom: -40px }
    @media (max-width: 767px) { margin-bottom: -25px !important }

    a {
        color: #00a728;
        font-weight: 600;

        @media (max-width: 767px) {
            display: block;
            margin: 7px auto;
        }
    }
}

.desktop footer {
    position: absolute;
    left: 0;
    // bottom: -48px;
    bottom: 0;
}

.block-grid-wrap {

    .header:first-child {
        padding-bottom: 25px;

        @media (max-width: 767px) {
            padding-bottom: 5px;
            text-align: center;
        }
    }

    .block-grid {
        .wrap {
            position: relative;
            padding: 0;
            $point_padding : 250px;

            &.direction-left{
                @media (min-width: 768px) {
                    .content{ float: left }
                    .sub-block{ float: right }
                }
            }
            &.direction-right{
                @media (min-width: 768px) {
                    .content { float: right }
                    .sub-block { float: left }
                }
            }

            .window {
                padding: 30px 0 15px;
                @media (max-width: 991px) { padding: 0 }

                .content{
                    border: 1px solid #e6e6e6;
                    background: white;
                    padding: 18px;
                    margin: 15px 0 0;
                    position: relative;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);

                    @media (min-width: 768px) {
                        width: calc(100% - 300px);
                        margin: 35px 0;
                        padding: 18px 30px;
                        min-height: 233px;
                    }

                    .counter {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 63px;
                        height: 61px;
                        padding: 6px 0 0 30px;
                        text-align: left;
                        font-size: 24px;
                        font-weight: 700;
                        color: white;
                        background: url('../images/count.jpg') no-repeat;
                    }
                    .header {
                        color: $color-green;
                        padding: 18px 0 22px 70px;
                        position: relative;

                        @media (max-width: 767px) { padding-left: 50px }

                        svg {
                            font-size: 49px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);

                            @media (max-width: 767px) {
                                font-size: 38px;

                                &.battery {
                                    font-size: 28px;
                                }
                            }
                        }
                    }

                    p { font-weight: 300 }
                }
                .sub-block {
                    background: rgba(255, 255, 255, 0.8);
                    border: 1px solid #e9e9e9;
                    padding: 15px;
                    position: relative;
                    z-index: 1;
                    margin-top: 15px;

                    @media (min-width: 768px) { width: 270px; padding: 30px; margin-top: 0 }
                    @media (min-width: 768px) and (max-width: 991px) {
                        transform: translateY(20%);
                    }

                    h2 {
                        color: #266425;
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 20px;
                        text-align: left;
                        text-transform: uppercase;

                        @media (min-width: 768px) {
                            margin: 0 -7px 20px;
                        }
                    }
                    ul li {
                        margin-bottom: 0;
                        padding-bottom: 10px;
                        &:last-child{
                            padding: 0!important;
                        }
                    }
                }
            }
        }
    }

    .wrap:first-child .point-1{
        left: 0!important;
    }
}

.accumulate{
    thead tr{
        background-color: #a9bfa8;
        line-height: 18px;

        td{
            color: black;
            font-weight: 300;
        }
    }
    tbody tr{
        background-color: white;
        line-height: 17px;
    }
    td{
        opacity: 1!important;
        padding:10px;
    }
}


.section-8 {
    .fp-scrollable{
        height: 100%!important;
    }

    .fp-scrollable,
    .fp-scroller {
        overflow: visible !important;
    }

    .more {
        @media (max-width: 991px) {
            background-color: #eae9e9;
            padding: 15px 25px 20px;
            margin: 0 -25px;
            border-top: 5px solid #fff;
        }
    }

    .subheader {
        @media (max-width: 767px) {
            position: absolute;
            width: 100vw;
            left: -15px;
            padding-left: 30px;
            padding-top: 9vw;
        }
    }

    &-info {
        @media (max-width: 767px) {
            margin-top: calc(110px + 1%);
        }
    }
}

.section:not(.block-grid-wrap){
    .fp-scroller{
        height: 100%;
    }
}

.fp-scrollable {
    width: 100%;
}

@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}

#fp-nav{
    padding: 1% 0;

    &.right{
        margin-top: 0!important;
        top: 0!important;
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            // margin-right: 7px;
            width: 20px;

            li {
                flex: 1;
                margin: 0;
                width: 100%;
            }
        }

        span {
            background-color: currentColor;
            width: 8px !important;
            height: 8px !important;
            margin: 0 !important;
            transform: translate(-50%, -50%);

            &:after {
                content: "";
                width: 200%;
                height: 200%;
                position: absolute;
                color: currentColor;
                top: -50%; left: -50%;
                border: 1px solid currentColor;
                border-radius: inherit;
            }
        }

        a {
            // $default-color: #b4b4b4;
            $default-color: #8E8C8C;

            color: $default-color;
            position: relative;
            overflow: hidden;

            &:before,
            &:after {
                content: "";
                width: 1px;
                height: 50%;
                background-color: currentColor;
                position: absolute;
                top: -11px;
                right: 50%;
                margin-right: -1px;
            }

            &:after {
                top: auto;
                bottom: -11px;
            }

            &[href="#slide1"] {
                &:before {
                    background-color: transparent;
                    background: linear-gradient(to top, currentColor, rgba(0, 0, 0, 0) 85%);
                }
                &:after {
                    background-color: transparent;
                    background: linear-gradient(to bottom, currentColor, $default-color 80%);
                }
            }

             &[href="#slide8"] {
                 &:after {
                     background-color: transparent;
                     background: linear-gradient(currentColor, rgba(0, 0, 0, 0) 85%);
                 }
             }

            &.active {
                color: #00a700;

                &:not([href="#slide1"]):not([href="#slide8"]) {
                    &:before {
                        background: linear-gradient(to top, currentColor, $default-color);
                    }

                    &:after {
                        background: linear-gradient(to bottom, currentColor, $default-color);
                    }
                }

                &[href="#slide1"],
                &[href="#slide5"],
                &[href="#slide6"] {
                    color: #fff;
                }

            }
        }
    }
}
