.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &-temperature-hot {
        width: 0.93359375em;
    }

    &-sweeping {
        width: 0.96484375em;
    }

    &-battery_mobile {
        width: 0.6669921875em;
    }
}
