$color-txt: #000;
$color-green: #266425;
    
$font-family: "Open Sans", sans-serif;

// Default font-sizes for headers
$h1-size: (576px: 23px, 768px: 36px, 1024px: 42px, 1200px: 60px);
$h2-size: (576px: 23px, 768px: 24px, 992px: 30px);
$h3-size: (576px: 17px, 768px: 18px, 992px: 24px)
